<h1>{{this.model.page.title}}</h1>
<p>{{this.model.page.description}}</p>
<h4>{{this.model.page.greeting}} {{this.model.user.title}} {{this.model.user.firstName}}</h4>
<Text-input @inputId="title" @labelText="Title" @value={{this.model.user.title}} />
<Text-input @inputId="first_name" @labelText="First Name" @value={{this.model.user.firstName}} />
<Text-input @inputId="last_name" @labelText="Last Name" @value={{this.model.user.lastName}} />
<Text-input @inputId="country" @labelText="Country" @value={{this.model.user.country}} />
{{!-- <Button @buttonText="Update information" action=updateUser />
 --}}
<button {{action 'updateUser'}}>Update</button>
{{outlet}}